/* Base styling */
.noUi-target {
  position: relative;
  height: 0.5rem; /* h-2 */
  margin-bottom: 2.5rem; /* mb-10 */
  border-radius: 9999px; /* rounded-full */
  background-color: #f3f4f6; /* bg-gray-100 */
   -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dark .noUi-target {
  background-color: #3f3f46; /* dark:bg-neutral-700 */
}

.noUi-base {
  position: relative;
  width: 100%;
  z-index: 1;
}

.noUi-origin {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
    -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-handle {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1.125rem; /* 18px */
  height: 1.125rem;
  background-color: white;
  border: 4px solid #2563eb; /* border-blue-600 */
  border-radius: 9999px;
  cursor: pointer;
  transform: translate(50%, -50%);
}

.dark .noUi-handle {
  border-color: #3b82f6; /* dark:border-blue-500 */
}

.noUi-connects {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 9999px;
  z-index: 0;
}

.noUi-connect {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #2563eb;
  z-index: 1;
    -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.dark .noUi-connect {
  background: #3b82f6;
}

.noUi-touch-area {
  position: absolute;
  inset: -0.25rem; /* -inset-1 */
}

.noUi-tooltip {
  background-color: white;
  border: 1px solid #e5e7eb; /* border-gray-200 */
  font-size: 0.875rem; /* text-sm */
  color: #1f2937; /* text-gray-800 */
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dark .noUi-tooltip {
  background-color: #1f2937; /* dark:bg-neutral-800 */
  border-color: #374151; /* dark:border-neutral-700 */
  color: white;
}

.noUi-pips {
  position: relative;
  width: 100%;
  height: 2.5rem; /* h-10 */
  margin-top: 0.25rem; /* mt-1 */
}

.noUi-value {
  position: absolute;
  top: 1rem;
  transform: translateX(-50%);
  font-size: 0.875rem;
  color: #9ca3af;
}

.dark .noUi-value {
  color: #6b7280;
}

.noUi-marker {
  position: absolute;
  border-left: 1px solid #9ca3af;
}

.dark .noUi-marker {
  border-color: #6b7280;
}

.noUi-marker-normal {
  height: 0.5rem;
}

.noUi-marker-large {
  height: 1rem;
}
